<div class="center hero-unit">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of my Demo app! 
  </h2>
 
  <%= link_to "Sign me up :) ", "users/new", class: "btn-custom btn-large btn-primary" %>
</div>


